.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 70px 10%;
}
.services .title-box{
    position: relative;
}
.services .title-box img{
    position: absolute;
    right:0;
    bottom: -50px;
    z-index: -1;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}
.services-format h3{
    font-size: 22px;
    font-weight: 600;
}
.services-format h2{
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(270deg, #2189a3 50%, #a200cf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 20px;
    line-height: 30px;
    max-width: 400px;
}
.services-readmore{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.services-readmore img{
    width: 20px;
}
.services-format:hover{
    border: 2px solid #2189a3;
    background-image: linear-gradient(45deg,#b63aae,#b14f0e);
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:768px){
    .services{
        align-items: center;
        gap: 70px;
        margin: 20px 6%;
    }
    .services-format{
        gap: 10px;
        padding: 20px;
    }
    .services-format h2{
        font-size: 20px;
    }
    .services-format p{
        font-size:  20px;
        line-height: 26px;
        max-width: 500px;
    }
    .services .title-box{
    position: relative;
    }
    .services .title-box img{
        position: absolute;
        right:-30px;
        bottom: -35px;
        z-index: -1;
    }
    
    .services-container{
        grid-template-columns: 1fr ;
        gap: 30px;
    }
}
@media (min-width: 769px) and (max-width: 1025px) {
    .services {
        align-items: center;
        gap: 70px;
        margin: 20px 6%;
    }
    .services-format {
        gap: 10px;
        padding: 20px;
    }
    .services-format h2 {
        font-size: 20px;
    }
    .services-format p {
        font-size: 20px;
        line-height: 26px;
        max-width: 700px;
    }
    .services .title-box {
        position: relative;
    }
    .services .title-box img {
        position: absolute;
        right: 0px;
        z-index: -1;
    }
    .services-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
